<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mystery Word Game</title>
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
</head>

<body>
  <header>
    <div class="headerSpace">
      <h1>HANGMAN!</h1>
      <p id="guessesRemaining">You have
        {{#livesLeft}}{{.}}{{/livesLeft}} livesLeft remaining.</p>
    </div>
  </header>

  <section id="word">
    {{#wordGuess}}
      {{.}}
    {{/wordGuess}}
  </section>

  <section id="input">
    {{#livesLeft}}
      <form class="guess" action="/guess" method="post">
        <input type="text" name="letter" placeholder="Enter guess here" autofocus>
        <button id="guessButton">Make a guess</button>
      </form>
    {{/livesLeft}}
      <!-- If player runs our of guesses. -->
    {{#gameOver}}
      <p id="loser">You Lose!!!</p>
      <form class="reset" action="/reset" method="post">
        <button>Try again</button>
      </form>
    {{/gameOver}}
  </section>

  <section id="error">
    {{error}}
  </section>

  <section id="lettersGuessed">
    <p>Letters guessed:
        {{#guessedLetters}}
          {{.}}
        {{/guessedLetters}}
    </p>
  </section>


</body>

</html>
