
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>HANGMAN!!</title>
  <!-- <link rel="stylesheet" href="/css/styles.css"> -->
</head>

<body>
  <header>
    <div class="headerSpace">
      <h1>HANGMAN!</h1>
      <p id="guessesRemaining">You have
        {{#livesLeft}}{{0 }}{{/livesLeft}} lives left remaining.</p>
    </div>
  </header>

  <section id="word">
    {{#wordGuess}}
      {{.}}
    {{/wordGuess}}
  </section>

  <section id="input">
    <p id="lose">Sorry, You Lose!!!</p>
    <form class="reset" action="/reset" method="post">
      <button>Try again</button>
    </form>
  </section>

  <section id="error">
    {{error}}
  </section>


  <section id="lettersGuessed">
    <p>Letters guessed:
        {{#guessedLetters}}
          {{.}}
        {{/guessedLetters}}
    </p>
  </section>


</body>

</html>
